body {
background-image: url(repter.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center; 
background-repeat: no-repeat; 
}

.custom-navbar {
    background-color: #343a40;
}

.search-box {
    margin-bottom: 15px;
}

.result-box {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result-box a {
    margin-top: 10px;
    display: inline-block;
}

#results {
    display: flex;
    flex-direction: column;
}

h4 {
    color: #007bff;
    font-weight: bold;
}

h5 {
    color: #ff0000ad;
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


